@import "imports.less";

body {
  font: sans-serif;
  shape-rendering: crispEdges;
}

#calendar {
    text-align: center;
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;
    position: relative;
    top: @newDayHeight + @spacingWide;

    .day {
        fill: #fff;
        stroke: #ddd;

        &:hover {
            opacity: 0.5;
        }
    }

    .month {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
    }

    // Color-code squares
    .running { fill: @running; }
    .erging { fill: @erging; }
    .lifting { fill: @lifting; }
    .crossfit { fill: @crossfit; }
    .sculling { fill: @sculling; }
    .swimming { fill: @swimming; }
    .other { fill: @other; }
}

#tooltip {
    position: absolute;
    z-index: @zIndexTooltip;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    padding: @spacingNarrow;
    opacity: 0.9;
    max-width: 300px;
}
