body {
  font: sans-serif;
  shape-rendering: crispEdges;
}

#calendar .day {
  fill: #fff;
  stroke: #ccc;
}

#calendar .month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

#calendar .running { fill: green; }
#calendar .erging { fill: orange; }
#calendar .lifting { fill: yellow; }
#calendar .crossfit { fill: purple; }
#calendar .sculling { fill: aqua; }
#calendar .swimming { fill: blue; }
#calendar .other { fill: #eeeeee; }
