@import "imports.less";

#days, .days-fade {
    width: 90%;
    margin: 0 5%;
    position: fixed;
}

.days-fade {
    height: @spacingWide;

    &.top {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
    }

    &.bottom {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
    }
}

#days, .days-fade.top {
    top: @newDayHeight + @calendarHeight + @legendHeight + @spacingWide;
}

#days, .days-fade.bottom {
    bottom: @spacingNormal;
}

#days {
    overflow-y: auto;
    padding: @spacingWide 0;

    > li {
        @dayWidth: 150px;
        .clearfix();

        &:nth-child(odd) {
            background-color: #fafafa;
            &:hover {
                background-color: darken(#fafafa, 10%);
            }
        }

        &:nth-child(even) {
            background-color: #eee;
            &:hover {
                background-color: darken(#eee, 10%);
            }
        }

        .day, .workouts, .notes {
            padding: @spacingNarrow;
        }

        .day {
            float: left;
            width: @dayWidth;
        }

        .workouts {
            float: left;
            width: calc(~'50% - @{dayWidth}');
            border-left-width: 5px;
            border-left-style: solid;

            // Color-code borders
            &.running { border-left-color: @running; }
            &.erging { border-left-color: @erging; }
            &.lifting { border-left-color: @lifting; }
            &.crossfit { border-left-color: @crossfit; }
            &.sculling { border-left-color: @sculling; }
            &.swimming { border-left-color: @swimming; }
            &.other { border-left-color: @other; }
        }

        .notes {
            float: left;
            width: 50%;
        }
    }
}
