@import "imports.less";

* {
    box-sizing: border-box;
}

body {
	font-family: Georgia;
    font-size: small;
}

input[type="text"], select, button, textarea {
    border-radius: @borderRadius;
    padding: @spacingNarrow;
    border: 1px solid #ccc; // TODO: color palette
    background-color: white;
}

@inputHeight: 25px;
input[type="text"], button {
    min-height: @inputHeight;
}

select {
    height: @inputHeight;
}

button {
    background-color: #fafafa;
    padding: @spacingNarrow @spacingNormal;
    cursor: pointer;
    color: #666;

    &:hover {
        background-color: darken(#fafafa, 5%);
    }

    &.primary {
        color: white;
        background-color: #2495ea;
        &:hover {
            background-color: darken(#2495ea, 5%);
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    z-index: @zIndexModalBackdrop;
}

// Page-level error
#error {
    background-color: lighten(pink, 10%);
    color: darken(red, 10%);
    border: 1px solid darken(red, 10%);
    border-radius: @borderRadius;
    padding: @spacingNormal;
    position: absolute;
    top: @spacingWide;
    left: @spacingWide;
    right: @spacingWide;
    z-index: @zIndexModal;
}

#filter-years {
    position: fixed;
    top: @newDayHeight;

    li {
        display: inline-block;
        margin-right: @spacingWide;
        cursor: pointer;

        &:hover:not(.disabled) {
            font-weight: bold;
        }

        &:not(.disabled)::before {
            content: "< ";
        }

        &.disabled {
            cursor: auto;
            color: @muted;
        }
    }
}
