@import "imports.less";

body {
	font-family: sans-serif;
}

input[type="text"], select, button, textarea {
    border-radius: @borderRadius;
    padding: @spacingNarrow;
    border: 1px solid #ccc; // TODO: color palette
    background-color: white;
}

input[type="text"], select, button {
    height: 25px;
}

button {
    background-color: #fafafa;
    padding: @spacingNarrow @spacingNormal;
    cursor: pointer;
    font-weight: bold;
    color: #666;

    &:hover {
        background-color: darken(#fafafa, 5%);
    }

    &.primary {
        color: white;
        background-color: #2495ea;
        &:hover {
            background-color: darken(#2495ea, 5%);
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.hide {
    display: none;
}

#error {
    text-align: center;
    margin: @spacingWide auto;
    background-color: lighten(pink, 10%);
    color: darken(red, 10%);
    border: 1px solid darken(red, 10%);
    border-radius: @borderRadius;
    padding: @spacingNormal;
}

#new-day {
    margin: @spacingWide 25%;
    width: 50%;

    input, select:not(.new-activity) {
        width: 50px;
        margin-left: @spacingNarrow;
    }

    #pace {
        margin-left: @spacingNarrow;
    }

    textarea {
        width: 100%;
    }

    .activity {
        margin-right: @spacingNormal;
    }

    .workout-row, .input-row {
        margin: 0 0 @spacingNormal 0;
        .clearfix();
    }

    .workouts {
        .clearfix();
        input, select:not(.new-activity) {
            width: 75px;
        }
    }
}

#day-list {
    width: 90%;
    margin: 0 5%;

    li {
        @dayWidth: 150px;
        .clearfix();

        .day {
            float: left;
            width: @dayWidth;
        }

        .workouts {
            float: left;
            width: calc(~'50% - @{dayWidth}');
        }

        .notes {
            float: left;
            width: 50%;
        }
    }
}
